.experiencia {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experiencia .subtitulo {
  background-image: linear-gradient(to bottom, #ffb8eb, #ed2fb8);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  width: 4ch;
}

.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 43ch;
  margin-bottom: 60px;
  color: #525252;
}

.experiencia-texto strong {
  color: #1b031f;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 40px;
  padding: 20px;
  background: #ebb7b7;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
}

.empresa a {
  text-decoration: none;
  color: #1b031f;
}

.empresa a:hover,
:focus {
  transition: 0.5s;
  color: #8d02a5;
}

.empresa::before {
  content: '';
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(180deg, #c900a9 0%, #800add 100%);
  position: absolute;
  top: 20px;
  left: -4px;
}

.empresa-ano {
  position: absolute;
  top: 22px;
  left: -100px;
  text-align: right;
  width: 80px;
  color: #525252;
  font-size: 0.875rem;
}

.empresa-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}

.empresa-texto {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #525252;
}

.empresa-habilidades {
  max-width: 250px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.empresa-habilidades li {
  background-color: #f2cbcb;
  padding: 5px 10px;

  border-radius: 5px;
}

@media (max-width: 800px) {
  .experiencia {
    display: flex;
    flex-direction: column;
    margin-top: -60px;
  }
  .experiencia .subtitulo {
    width: 100%;
  }
  .experiencia div:nth-child(2) {
    margin-top: -40px;
  }
  .experiencia-texto {
    padding-bottom: 20px;
  }
}
