.introducao {
  width: 1133px;
  height: 530px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
  color: #1b031f;
}

.box {
  background-color: #ebb7b7;
  border-radius: 10px;
  width: 985px;
  height: 485px;
  margin: 55px 0 0 139px;
  z-index: -1;
  position: absolute;
}

.introducao h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 30px;
  position: relative;
  z-index: 100;
}

.introducao h1::before {
  content: '';
  display: block;
  width: 130px;
  height: 100px;
  position: absolute;
  top: -15px;
  left: -40px;
  background: url('../img/detalhe.svg') no-repeat center;
  z-index: -1;
}
.introducao p {
  font-size: 1.5rem;
  color: #525252;
}

.introducao p ::after {
  position: absolute;
  background-color: red;
  z-index: 900;
  font-size: 1.5rem;
}

@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .introducao {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .introducao .box {
    max-width: 100%;
    height: 400px;
  }

  .introducao h1 {
    font-size: 2rem;
  }

  .introducao img {
    max-width: 300px;
    height: auto;
    display: block;
  }
  .introducao h1::before {
    width: 30px;
    height: 10px;
    left: 0px;
  }
}

@media (max-width: 400px) {
  .introducao {
    grid-template-columns: 1fr;
  }
  .introducao img {
    display: none;
  }
}
